<div style="margin-top:-105px">
<div class="row justify-content-md-center  text-center" >
   <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
       <i class="bi bi-code-slash"></i>
      <i class="bi bi-hdd-fill"></i>
      <h4>Desarrollo Web</h4>
      Trabajo desde el desarrollo, pruebas unitarias y puestas en produccion con entrega continua.

      <p class="text-primary">  Experiencias  </p>
      <ul>
          <li>ASP.Net Core MVC</li>
          <li>Entity fremework Core</li>
          <li>Web Api</li>
          <li>Principios SOLID</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>HTML/CSS/Bootstrap</li>
          <li>SQL Server</li>
      </ul>

    
   </div>

   <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0 ; box-shadow: 0 5px 5px 0 gray">
       <i class="bi bi-phone"></i>
      <h4>Desarrollo Mobile</h4>
      Puedo desarrollar aplicaciones que se ejecuten tanto en Android como en IOS, desarrollo de interfaces graficas 
      agradables al usuario, conecciones a API, entre otras cosas.

      <p class="text-primary">  Experiencias  </p>
      <ul>
          <li>FLutter / Dart </li>
          <li>Provider</li>
          <li>GetX</li>
          <li>SqLite</li>
          <li>Geolocalizacion continua</li>
          <li>...</li>
          
      </ul>

    
   </div>

</div>
</div>