<div class="text-center">
    <h1 class="Welcome">Hola! soy Oniel Brea Lluveres</h1>
     <h2> 
         Desarrollador Web y Mobile
     </h2>
     <img src="~/img/foto.jpg" class="img1"/>
      
</div>
<div id="images" class="text-center">
    <img src="~/img/netcore.png"/>
    <img src="~/img/imgF.png" class="imgF"/>
</div>
<div class="row justify-content-center text-center bg-primary"> 
    <div class="col col-md-7 section-welcome">
        <h1>Te doy la bienvenida a mi portafolio!</h1>
        <p>He tenido la oportunidad de poder trabajar con tecnologias de Microsoft
            como por ejemplo ASP.Net Core MVC, Entity Framework, entre otras
            tecnologias del lado de la web como Java Script, y gestores de bases de datos SQL ademas del desarrollo
            mobile multiplataforma con Flutter. Tengo experiencia desarrollando aplicaciones
            desde cero y dando soporte a aplicaciones ya creadas con las tecnologias ya mencionadas anteriormente :)
        
        </p>
    </div>
</div>